################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PhoneFinancialManagment/v17
/src/PhoneFinancialManagment.Api/obj
/.vs/PhoneFinancialManagment/FileContentIndex
/src/PhoneFinancialManagment.ApplicationServices/bin
/src/PhoneFinancialManagment.ApplicationServices/obj
/src/PhoneFinancialManagment.ApplicationServices/obj
/src/PhoneFinancialManagment.Domain/bin
/src/PhoneFinancialManagment.Domain/obj
/src/PhoneFinancialManagment.Infraestructure/bin
/src/PhoneFinancialManagment.Infraestructure/obj
/src/PhoneFinancialManagment.Ioc/bin
/src/PhoneFinancialManagment.Ioc/obj
/.vs/ProjectEvaluation
/.vs/PhoneFinancialManagment/DesignTimeBuild
/.vs/PhoneFinancialManagment/v16/.suo
/.vs/PhoneFinancialManagment/v17/.suo
/src/PhoneFinancialManagment.Api/bin/Debug/net7.0
